body {
   background: crimson url("{{ url_for('static', filename='images/image1.jpeg') }}") no-repeat fixed center;
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: crimson;
   font-weight: bold;
}

.main_image_container {
   text-align: center;
}

.main_image {
   margin: auto;
   max-width: 100%; 
}