/* Styling for the body of the page */
body {
   background: rgb(116, 5, 27) fixed center;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-weight: bold;
}
/* Styling for the main image container */
.main_image_container {
   text-align: center;
}
/* Styling for the main iamge */
.main_image {
   margin: auto;
   max-width: 100%; 
}