/* Global styling for the entire page */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("/static/images/image1.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
/* Styling for container div */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center the container contents horizontally */
}
/* Styling for specific elements within the container */
.container > p {
    align-self: center;
}
/* Styling for buttons */
button {
    width: 120px;
    margin-top: 10px;
    color: crimson;
    text-decoration-color: brown;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: goldenrod;
    font-weight: bold;
    border-radius: 4px;
}
button:hover {
    background-color: darkgoldenrod; 
    color: white; 
    cursor: pointer; 
}
a {
    color: green;
}
#end_butt{
    width: 100px;
    margin-top: 8px;
    cursor: pointer;
}
#dealer_div {
    padding-top: 260px;
}
/* Media query for smaller screens (less than 768px) */
@media screen and (max-width: 768px) {
    body {
        font-size: 20px;
    }

    .container {
        max-width: 90%; 
    }

    #dealer_div {
        padding-top: 150px; 
    }
}
