/*  Global styling for the entire page */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("/static/images/image1.png");
    background-size: cover;
    background-size: 100%;
    margin-bottom: 50px;
    text-align: center;
    font-size: 30px;
    color:rgb(25, 27, 25);
    font-weight: bold;
}
/* Styling for level 3 heading (h3) */
h3 {
    color: gold;
    display: flex;
    justify-content: center;
}
/* Styling for container div */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Styling for specific elemnets within the container */
.container > p, h3, h4, h5{
    align-items: flex-center;
    align-self: center;

}
/*  Styling for buttons */
button {
    width: 120px;
    align-items: flex-center;
    align-self: center;
    margin-top: 10px;
    color: crimson;
    text-decoration-color: brown;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: goldenrod;
    font-weight: bold;
    border-radius: 4px;
}
