<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Black Jack</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <h3><em> Balck Jack Table! </em></h3>
    <div class="container">
        <p id="dealer_cards">Dealer's Cards: {{ cardsDl }}</p>
        <p id="dealer_total" style="color: blueviolet;"> Total: {{ totalDl }}</p>
        

        <h4 id="message-dealer"> {{ messageDl }} </h4>
        <h4 id="message"> {{ message }} </h4>
        



        <p id="player_cards">Player's Cards: {{ cardsPl }}</p>
        <p id="player_total" style="color: blueviolet;">Total: {{ totalPl }}</p> 

        <h5 id="player_name_chips"> </h5>


        <button id="start_game">START THE GAME</button>
        <button id="new_card">NEW CARD</button>
        <button><a style="color: rgb(5, 85, 30);" href="{{ url_for('index') }}">End</a></button>
    </div>

 <!-- comment needs to be added here  -->
    <script>
        function startGame() {
            $.ajax({
                url: "/game_action/startTheGame",
                type: "GET",
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    updateUI(response);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        function drawNewCard() {
            $.ajax({
                url: "/game_action/newCard",
                type: "GET",
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    updateUI(response);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        function updateUI(data) {

            $("#dealer_cards").text("Dealer's Cards: " + data.CARD_DECK_Dl);
            $("#dealer_total").text("Total: " + data.SUM_DL_CARDS);
            $("#player_total").text("Total: " + data.SUM_PL_CARDS);
            $("#player_cards").text("Player's Cards: " + data.CARD_DECK_Pl);
            
            $("#message-dealer").text(data.MESSAGE_DL);

            $("#message").text(data.MESSAGE);

            
             $("#player_name_chips").text(data.PLAYER_NAME + " has " + data.PLAYER_CHIPS + " chips");

            
        }
        // click events for startGame and drawNewCard buttons
        $(document).ready(function () {
            $("#start_game").click(startGame);
            $("#new_card").click(drawNewCard);
        });
    </script>

</body>
</html>




