<!DOCTYPE html>
<html>
<head>
    <!-- Metadata for character set, compatibility, and viewport -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BlackJack</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Link to external stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Include jQuerry library -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <!-- Heading for the Balckjack table -->
    <div class="container">
        <!-- Dispay dealer's cards and total -->
        <div id="dealer_div"> 
        <p id="dealer_cards" style="color: blanchedalmond;">Dealer's Cards: {{ cardsDl }}</p>
        <p id="dealer_total" style="color: rgba(42, 180, 15, 0.979);"> Total: {{ totalDl }}</p>
        <p id="message-dealer" style="color: white;"> {{ messageDl }} </p>
        </div>
        <!-- Display messages and total for the player -->
        <p id="message"  style="color: white"> {{ message }} </p>
        <p id="player_cards" style="color: blanchedalmond">Player's Cards: {{ cardsPl }}</p>
        <p id="player_total"  style="color: rgba(42, 180, 15, 0.979);">Total: {{ totalPl }}</p> 
        <p id="player_name_chips" style="color: blanchedalmond"> </p>
        <!-- Buttons for game actions -->
        <button id="start_game">START</button>
        <button id="new_card">NEW CARD</button>
        <button id="end_butt"><a style="text-decoration:none" href="{{ url_for('index') }}">END</a></button>
    </div>
    <!-- JavaScript section for making asynchronous request and updating UI -->
    <script>
    // jQuery for making asynchronous HTTP requests to start the game.
        function startGame() {
            // AJAX request to start the game.
            $.ajax({
                url: "/game_action/startTheGame",
                type: "GET",
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    // Update UI with the received data.
                    updateUI(response);
                },
                error: function (xhr, status, error) {
                    console.log("Error starting the game:", xhr.responseText);
                },
            });
        }
    // jQuery for making asynchronous HTTP requests for new card.
        function drawNewCard() {
            $.ajax({
                url: "/game_action/newCard", 
                type: "GET",
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    // Update UI with the receved data.
                    updateUI(response);
                },
                error: function (xhr, status, error) {
                    console.log("Error drawing new card:", xhr.responseText);
                },
         });
    }
      function drawNewCardWithRetry() {
    // Function to handle the AJAX request
    function makeRequest() {
        $.ajax({
            url: "/game_action/newCard",
            type: "GET",
            dataType: "json",
            success: function (response) {
                console.log(response);
                // Update UI with the received data.
                updateUI(response);
            },
            error: function (error) {
                console.error(error);
                // Retry the request after a short delay
                setTimeout(makeRequest, 500);
            },
        });
    }
    // Initiate the first request
    makeRequest();
}
// Function to update the user interface based on the received data.
        function updateUI(data) {
            // Update varios elements with data from the server.
            $("#dealer_cards").text("Dealer's Cards: " + data.CARD_DECK_Dl);
            $("#dealer_total").text("Total: " + data.SUM_DL_CARDS);
            $("#player_total").text("Total: " + data.SUM_PL_CARDS);
            let playerCardsArray = data.CARD_DECK_Pl
            let formattedPlayerCards = playerCardsArray.join(' ')
            $("#player_cards").text("Player's Cards: " + formattedPlayerCards)
            $("#message-dealer").text(data.MESSAGE_DL)
            $("#message").text(data.MESSAGE) 
            $("#player_name_chips").text(data.PLAYER_NAME + " has " + data.PLAYER_CHIPS + " chips");

            // Enabel buttons after updateing the UI
            // enableButtons() 
        }
        // Click events for startGame and drawNewCard buttons.
        $(document).ready(function () {
            $("#start_game").click(startGame);
            $("#new_card").click(drawNewCard);
        });

    </script>
  </body>
</html>




